services:
  score:
    build: .
    volumes:
      - .:/app
    command: ruby score.rb
    environment:
      - TERM=xterm-256color

  score-json:
    build: .
    volumes:
      - .:/app
    command: ruby score.rb --json

  baseline:
    build: .
    volumes:
      - .:/app
    command: ruby score.rb --baseline

  test:
    build: .
    volumes:
      - .:/app
    command: rspec --format documentation --pattern '{spec/**/*_spec.rb,*_spec.rb}'

  lint:
    build: .
    volumes:
      - .:/app
    command: rubocop
